body {
    background-color: black;
    color: white;
}

.instrument {
    background-color: black;
    text-align: center;
    margin: 5%;
}

/* img {
    max-width: 200px;
} */

#instrument-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.instrument {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.hide {
    display: none;
    font-size: 1em;
}

.instrument:hover > .hide {
    display: block;
    transition: .3s;
}

.instrument img {
    max-width: 200px;
    display: block;
    margin: auto;
}