body {
    background-color: black;
    color: white;
}

img {
    width: 100px;
}

.instrument {
    background-color: black;
    text-align: center;
    margin: 5%;
}

#instrument-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

/* #instrument-container div {
    width: 100px;
} */