* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.main-header {
    background-color: rgb(255, 255, 255);
    padding: 8px 0px;
}

.main-header a {
    color: black;
    text-decoration: none;
}

.main-header a:hover {
    color: rgb(94, 103, 185);
}

.main-header__brand {
    font-size: 24px;
    display: inline-block;
    padding: 0 16px;
    font-weight: bolder;
}

.main-header__nav {
    display: inline-block;
    width: calc(100% - 250px);
    text-align: right;
}

.main-header__nav-item {
    display: inline-block;
    margin: 0 5%;
}

.main-header__nav-item a {
    font-size: 18px;
}


.instrument {
    background-color: black;
    text-align: center;
    margin: 5%;
}

.instrument-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.instrument-details > div > img {
    max-width: 400px;
}

#instrument-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.instrument {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.hide {
    opacity: 0%;
    font-size: 1em;
}

.instrument:hover > .hide {
    display: block;
    opacity: 100%;
    transition: .7s;
}

.instrument img {
    max-width: 200px;
    display: block;
    margin: auto;
    border-radius: 10%;
    opacity: 70%;
    transition: .5s;
}

.instrument img:hover {
    opacity: 100%;
    transition: .5s;
}